{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Add project
{% endblock %}
{% block scripts %}
{% load static %}
    <script src="{% static 'js/add_project.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="my_form_div">
    <h2>Add project</h2>
        <form class="my_padded" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-dark">Add Project</button>
        </form>
    </div>
{% endblock %}